.content{
    border-style: double;
    border-width: thick;
    padding: 10px;
    padding-top: 1px;
    padding-bottom: 30px;
    margin-left: 4px;
    position: absolute;

}
h1{
    font-size: 27px;
    padding-left: 3em;
    font-weight: lighter;
}
.button{
    bottom: 4px;
    position: absolute;
    left: 35%;
}
.group{
    border: none;
    outline: none;
}